{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="styles/themes/base.css") }}" />
    <script type="application/ecmascript" src="{{ url_for('static', filename="assets/baseHeader.js") }}"></script>
{% endblock %}

{% block header %}
    <header id="base-header">
        <div id="base-header-left">
            <a href="/">supported games</a>
            <a href="/tutorial">setup guides</a>
        </div>
        <div id="base-header-right">
            <a href="https://github.com/evilwb/Archipelago-Gamedocs/blob/gamedocs/unofficial_games.md">Supported Unofficial Games</a>
            <a href="https://multiworld.news/apworlds.html">Multiworld News</a>
        </div>
    </header>
{% endblock %}
